form{
	display: inline-block;
}

.dashboard-title{
	font-size: 50px;
}

.header{
	padding: 15px 0;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: middle;
}

.dashboard-header-forms{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.dashboard-form{
	margin: auto 0;
}

.search{
	color: #212529;
	margin-right: 30px;
}

.search-text:focus,
.search-button:focus {
    outline: none;
}

.search-text{
	border: none;
	border-bottom: 2px solid #212529;
	
	font-size: 16px;
	line-height: 2.1;
	
	width: 250px;
}

.search-button{
	padding: 0;
	border: none;
	background: none;
}

.create-product-form{
}

.create-product{
	top: 20px;
	margin: auto;
}

.btn-open{
	min-width: 120px;
}

.card{
	margin-bottom: 20px;	
	
	border: none;
	border-radius: 10px;
	
	overflow: hidden;
	
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	
}

.card-header{
	background-color: #4a5259;
	color: white;	
}

.card-text{
	min-height: 70px;
	white-space: pre-line;
}

.size{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}
   
.card-header{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.product-buttons{
	display: flex;
}

@keyframes card-animation{
    0%{
        opacity: 0;
        padding: 9em;
    }
    100%{
        opacity: 1;
        padding: 0;
    }
}

@media(max-width: 991px){
	.dashboard-title{
		font-size: 45px;
	}
	
	.search-text{
		width: 220px;
	}
}

@media(max-width: 767px){
	.dashboard-header-forms{
		width: 100%;
	}
	
	.dashboard-title{
		width: 100%;
		text-align: center;
	}
}

@media(max-width: 450px){
	.search{
		margin: auto auto;
		
	}
	
	.search-text{
		width: 250px;
	}
	
	.dashboard-form{
		margin: 10px auto;
	}
	
	.card-title{
		display: -webkit-box;
		overflow: hidden;
		white-space: pre-line;
		text-overflow: ellipsis;
		font-size: 16px;
		-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
	}
	
	.card-text{
		height: 85px;
		font-size: 14px !important;
	}
	
	.size{
		-webkit-line-clamp: 4;
	}
	
	.btn-open{
		margin: 0 auto;
	}
	
	.product-buttons{
		justify-content: space-between;
	}
}











