.badge-status{
	margin: auto 0 auto 10px;
}

.feature{
	margin-left: 15px;
}

.my-textarea{
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden;
	min-height: 36px;
}

.comments{
	margin-top: 30px;
}

.other-comments{
	margin-left: -40px;
	margin-top: 30px;
}

.comment-text{
	white-space: pre-line;
	word-break: break-all;
}

.description-header{
	border-bottom: 1px black solid;
	margin-bottm: 20px;
}

.description{
	white-space: pre-line;
	word-break: break-all;
	
	margin: 15px 0;
}