h1{
	margin: 0;
}

ul{
	padding-left: 45px;
	margin-bottom: 1.5rem;
	list-style-type: none;
}

.header-top{
	position: relative;
	
	margin-top: 15px;
}

.header-title{
	margin: auto 15px;
	line-height: 1;
}

.header-title-top{
	display: flex;
}

.badge{
	float: bottom;
}

.badge-status{
	line-height: 1;
	margin: auto 0 0 7px;
	
	display: flex;
	align-items: middle;
	
	background: none;
	border: none;
}

.badge-status::after{
	margin: auto 5px;
}

.badge-status:focus,
.badge-status:active{
	outline: none;
	border: none;
}

.dropdown-menu{
	margin-top: -7px;
}

.modal-alert{
	line-height: 1.5;
}

.description{
	white-space: pre-line;
	word-break: break-all;
	
	margin: 15px 0;
}

.description-header{
	border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.feature{
	margin-left: 15px;
}

.btn-feature{
	min-width: 90px;
	padding: 4px 0;
	
	border-color: transparent;
}

.send-button{
	background-color: #17a2b8;		
}

.reply-button{
	display: inline-block;
	margin: auto 0 auto 5px;
	
	height: 18px;
	width: 33px;
	padding: 0;
	
	border-color: transparent;
	border-radius: 0.25rem;
	
	font-size: 10px;
	line-height: 1;
	
	color: #fff;
	background-color: #6c757d;
	text-transform: uppercase;
}

.close-button{
	background-color: rgba(0, 0, 0, 0.5);
}

.close-button:hover{
	background-color: #17a2b8;
	border-color: transparent;
}

.new-close-button{
	margin-right: 4.36px;
}

.header-right{
	display: flex;
	align-items: center;
	
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.feature-owner-div{
	display: flex;
	
	margin-right: 20px;
}

.feature-owner-label{
	text-transform: uppercase;
	font-size: 9px;
	line-height: 1;
	
	margin-right: 5px;
	
	align-self: flex-end;
}

.feature-owner{
	color: black;
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	
	align-self: flex-end;
}

.feature-owner:hover{
	color: black;
	text-decoration: none;
}

.rates{
	display: flex;
}

.rates-row{
	margin-right: -15px;
}

.radio-input{
	height: 0;
	width: 0;
}

.rate-icon{
	width: 25px;
	height: 25px;
	
	transition: fill .1s linear;
}

.rate-label:hover{
	fill: black;
	color: black;
}

.rate-label{
	display: inline-block;
	
	cursor: pointer;
	
	fill: #50585f;
	color: #50585f;
}

.rate-num{
	margin: auto 5px auto 0;
	font-size: 13px;
	
	transition: color .1s linear;
}

.active-rate{
	fill: black;
	color: black;
}

.user-image{
	width: 45px;
	height: 45px;
	
	border-radius: 50%;
	
	margin-right: 1rem;
}

.comments{
	margin-top: 30px;
}
	
.other-comments{
	margin-left: -45px;
	margin-top: 30px;
}

.comments-header{
	margin: 10px 0;
}

.comments-title{
	font-size: 22px;
	font-weight: 500;
}

.new-comment-buttons{
	float: right;
}

.my-textarea{
	width: 100%;
	
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0;
	
	transition: border-color .2s linear;
	
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden;
	min-height: 30px;
}

.my-textarea:focus{
    outline: none;
    box-shadow: none;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.no-comments{
	margin: 20px auto;
	text-align: center;
	font-size: 20px;
}

.comment-header{
	display: flex;
}

.comment-title{
	
	font-size: 18px;
	font-weight: 500;
}

.comment-text{
	font-size: 16px;
	
	white-space: pre-line;
	word-break: break-all;
}

.comment-date{
	font-size: 11px;
	color: rgba(0, 0, 0, 0.5);
	margin: auto 5px;
}

.media{
	margin: 10px 0;
}

.media-body{
	margin-top: -5px;
}









