.feature{
	margin-left: 15px;
}

.my-textarea{
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden;
	min-height: 30px;
}

.comments{
	margin-top: 30px;
}


.description{
	white-space: pre-line;
	word-break: break-all;
	
	margin: 15px 0;
}