form{
	margin-top: 0;
}

.card{
	margin-top: 30px;
}

.product-container{
	max-width: 900px;
}

.switcher{
	cursor: pointer;
}

.custom-switch-label{
	padding-left: 0;
}

.custom-switch{
	margin: auto 0;
	margin-left: 15px;
}

.product-edit-header{
	display: flex;
	
	align-items: middle;
	justify-content: space-between;
}

.product-edit-header-title{
	display: flex;
}

.header-form{
	display: flex;
	
	align-items: middle;
}

.delete-btn{
	margin: auto 0;
}

.row-bottom{
	display: flex;
	justify-content: space-between;
}

.my-textarea{
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden
}


