.btn-open{
    min-width: 120px;
    height: 38px;
    margin: auto 0;
    margin-right: 15px;
}

.btn-create{
    min-width: 120px;
    height: 38px;

}

.title{
    display: flex;
    justify-content: space-between;

    margin-top: 15px;

    text-align: center;
}

.product-title{
	font-size: 40px;
}

.title-buttons{
	display: flex;
}

.product-edit{	
	margin: auto 10px;
}

.edit-icon{
	width: 32px;
	height: 32px;
	
}

.request-feature-form{
    margin: auto 0;
}

.request-feature{
	display: none;
}

.description-header{
    border-bottom: 1px black solid;
    margin-bottom: 1em;
}

.short-description{
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
}

.description{
    white-space: pre-line;
    word-break: break-all;

    margin: 15px 0;
}

.filters{
    display: flex;
    justify-content: center;

    margin-top: 1em;
}

.filters-row{
	display: flex;		
}

.filter-item{
    margin: 0 10px;
    padding: 2px 6px;
    min-width: 70px;

    background: none;
    border: 1px solid #c5c4c4;
    border-radius: 45%;

    font-size: 12px;
    color: #545454;

    transition: border-color .1s, background-color .1s, color .1s;
}

.filter-item:focus,
.filter-item:active{
    outline: none;

    background-color: none;
    color: #545454;
}

.filter-item:hover{
    outline: none;

    background-color: #f8f8f8;
    color: #343434;
}

.activatedFilter{
    outline: none;

    border-color: #c5c4c4;
    background-color: #f8f8f8;
    color: #343434;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    
    margin-bottom: 30px;
}

.card{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.feature{
    width: 100%;
    height: 100%;
}

@keyframes feature{
    0%{
        opacity: 0;
        padding: 9em;
    }
    100%{
        opacity: 1;
        padding: 1em;
    }
}


.card-place{
    width: 25%;
  
    padding: 9em;
}

.card-title{
    white-space: nowrap;
    font-size: 18px;
}

.card-subtitle{
    white-space: pre-line;
}

.card-text{
    min-height: 100px;
    white-space: pre-line;
}

.card-bottom{
    float: bottom;
}

.size{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}



.size-desc{
      -webkit-line-clamp: 4;
      line-clamp: 4;
}

.no-features{
    margin: 40px auto;
    text-align: center;
}

.card-bottom{
    display:flex;
    justify-content: space-between
}

.feature-rates{
    display: flex;
    margin-right: -10px;
}

.rate-icon{
    width: 20px;
    height: 20px;
}

.rate-num{
    font-size: 12px;
    margin: auto 5px auto 0;
}

@media(max-width: 1200px){

    .card-place{
        padding: 0.7em;
    }

    .card-text{
        min-height: 70px;
    }

    .size-desc{
        -webkit-line-clamp: 3;
    	line-clamp: 3;
    }
}

@media(max-width: 991px){

	.product-title{
		font-size: 30px;
	}
	
	.short-description{
		font-size: 25px;
	}
	
    .card-place{
        width: 33.333%;
    }

    .card-title{
        font-size: 16px;
    }
    
    .edit-icon{
    	width: 25px;
    	height: 25px;
    }
    
    .title-btn{
    	font-size: 14px;
    	width: 120px;
    	height: 33px;
    	padding: 2px 8px;
    	
    	margin: 5px 0 5px auto;
    }

}

@media(max-width: 767px){
	
	.product-title{
		width: 100%;
	}

    .card-place{
        width: 50%;
        padding: 0.5em;
    }
    
    .mobile-btn{
		display: block;
    	position: fixed;
    	z-index: 100;
    	margin: 0;
    	bottom: 15px;
    
    	background-color: #fff;
    	border: 3px black solid;
    	border-radius: 50%;
    	
    	padding: 10px;
    }
    
    .non-mobile-btn{
    	display: none;
    }
    
    .mobile-icon{
    	width: 40px;
    	height: 40px;
    }
    
    .product-edit{
    	left: 15px;
    }
    
    .request-feature{
    	right: 15px;
    }

}

@media(max-width: 450px){
	.filters{
		flex-direction: column;
	}
	
	.filters-row{
		justify-content: center;
		margin: 3px 0;
	}
	
	.filter-item{
		margin: 0 25px;
	}
	
    .card-place{
        width: 100%;
        margin: 0 auto;
    }
    
    @keyframes card-animation{
	    0%{
	        padding: 9em;
	    }
	    100%{
	        padding: 1em 1em;
	    }
	}
    
    .card-title{
    	font-size: 20px;
    }

    .card-text{
        min-height: 170px;
    }

    .size-desc{
        -webkit-line-clamp: 7;
    	line-clamp: 7;
    }
}

@media(max-width: 400px){
	@keyframes card-animation{
	    0%{
	        padding: 9em;
	    }
	    100%{
	        padding: 1em 0;
	    }
	}
}

