form{
	margin-top: 0;
}

.card{
	margin-top: 30px;
}

.card-header-title{
	white-space: nowrap;
	font-size: 40px;
	line-height: 1;
	margin: 5px 0 10px;
}

.product-container{
	max-width: 900px;
}

.switcher{
	cursor: pointer;
}

.custom-switch-label{
	padding-left: 0;
}

.custom-switch{
	margin: auto 0;
	margin-left: 15px;
}

.product-edit-header{
	display: flex;
	
	align-items: middle;
}

.product-control-buttons{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-form{
	display: flex;
	
	align-items: middle;
}

.delete-btn{
	margin: auto 0;
}

.row-bottom{
	display: flex;
	justify-content: space-between;
}

.my-textarea{
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden
}

@media(max-width: 575px){
	.card-header-title{
		font-size: 30px;
	}
}

@media(max-width: 450px){
	.product-edit-header{
		flex-direction: column;
	}
	
	.custom-switch{
		margin-left: 0;
	}
	
	.card-header-title{
		font-size: 35px;
		text-align: center;
	}
}


