.switcher{
	cursor: pointer;
}

.custom-switch-label{
	padding-left: 0;
}

.custom-switch{
	margin: auto 0;
	margin-left: 15px;
}

.header{
	position: relative;
}

.header-title{
	display: flex;
}

.header-form{
	position: absolute;
	right: 15px;
	top:50%;
	transform: translateY(-50%);
}

.row-bottom{
	display: flex;
	justify-content: space-between;
}

.my-textarea{
	line-height: 1.5;
	height: auto;
	resize: none;
	overflow: hidden
}

