.page{
	display: flex;
	flex-direction: column;
	
	min-height: 100vh;
}

.btn{
	border-radius: .35rem;
}

.long-btn{
	min-width: 130px;
}

.medium-btn{
	min-width: 110px;
}

.btn-info{
	background-color: #a0a0a0!important;
	border-color: #a0a0a0!important;
}

.btn-info:hover{
	background-color: #306d77!important;
	border-color: #306d77!important;
}

.btn-primary{
	background-color: #4a5259!important;
	border-color: #4a5259!important;
}

.btn-primary:hover{
	background-color: #17a2b8!important;
	border-color: #17a2b8!important;
}

.card{
	border: none;
	border-radius: 10px;
	
	overflow: hidden;
	
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.card-animation{
	animation-name: card-animation;
    animation-duration: .7s;
    animation-fill-mode: both;
}

.card-text-animation{
	animation-name: card-text-animation;
    animation-duration: .7s;
    animation-fill-mode: both;
}

@keyframes card-animation{
    0%{
        opacity: 0;
        padding: 9em;
    }
    100%{
        opacity: 1;
        padding: 1em;
    }
}

@keyframes card-text-animation{
	0%{
		opacity: 0;
		font-size: 0;
	}
	100%{
		opacity: 1;
		font-size: 16px;
	}
}

@keyframes card-title-animation{
	0%{
		opacity: 0;
		font-size: 0;
	}
	100%{
		opacity: 1;
		font-size: 18px;
	}
}

.card-header{
	background-color: #4a5259;
	color: white;	
}

.dislike-icon{
    transform: rotate(180deg);
}

@media(max-width:450px){
	.card{
		margin-top: 1em;
	}
	
	.long-btn{
		min-width: 120px;
	}
}