<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

<div th:fragment="headerElement" th:remove="tag">
    <link rel="stylesheet" type="text/css"
        th:href="@{/css/headerFragment.css}">
</div>

<div th:fragment="header" th:remove="tag">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container header-container">
            <a class="navbar-brand" href="/"><img
                th:src="@{/images/FreshVotes_Header_Logo.png}"></a>

            <div sec:authorize="!isAuthenticated()">
                <button class="btn btn-info" id="loginBtn">Log in</button>
                <script>
                    $(function() {
                        $("#loginBtn").click(function() {
                            window.location.href = "/login"
                        })
                    });
                </script>
            </div>

            <div sec:authorize="isAuthenticated()" class="dropdown">

                <div class="dropdown-toggle header-dropdown"
                    id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div th:text="${#authentication.getPrincipal().getName()}"
                        class="header-dropdown-icon-element header-name"></div>
                    <img th:src="@{${#authentication.getPrincipal().getImageURL()}}"
                        class="header-dropdown-icon-element header-user-image">
                </div>

                <div class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-container">

                        <div class="dropdown-item">
                            <div class="dropdown-item-inner">
                                <a class="dropdown-item-content dropdown-first" th:href="@{/user/{userId}/profile(userId=${#authentication.getPrincipal().getId()})}">My
                                    Profile</a>
                            </div>
                        </div>

                        <div class="dropdown-item">
                            <div class="dropdown-item-inner">
                                <a class="dropdown-item-content" href="/dashboard/private">My
                                    Products</a>
                            </div>
                        </div>

                        <div class="dropdown-item">
                            <div class="dropdown-item-inner">
                                <a class="dropdown-item-content"
                                    th:href="@{/user/{userId}/features(userId=${#authentication.getPrincipal().getId()})}">Feature
                                    requests</a>
                            </div>
                        </div>

                        <div class="dropdown-item">
                            <form action="/logout" method="post"
                                class="dropdown-item-inner">
                                <input type="hidden" th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}" />
                                <button type="submit" class="dropdown-item-content dropdown-last">Logout</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </nav>

</div>

</body>
</html>
