<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>FreshVotes Private Dashboard</title>

<script th:replace="fragments/import :: importElement"></script>
<script th:replace="fragments/header :: headerElement"></script>
<script th:replace="fragments/footer :: footerElement"></script>

<link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="page">
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
	
		<div class="header">
			<div class="dashboard-title">My products</div>
			
			<div class="dashboard-header-forms">
				<form class="dashboard-form search" th:action="@{/dashboard/private}" method="get">
				  <input type="text" placeholder="Search.." th:name="search" class="search-text" th:value="${param.search}">
				  <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
				</form>
					
				<form class="dashboard-form" th:action="@{/dashboard/createProduct}" method="get">
					<button type="submit" class="btn btn-primary create-product">Create a Product</button>		
				</form>
			</div>
		</div>
		
	
		<div th:if="${not #lists.isEmpty(products)}">
			<div class="card-animation" th:each="product : ${products}">
				<div class="card">
				    <div class="card-header">
				    	<h5 class="card-title card-title-animation"  th:text="${product.name}"></h5>
				    	
				    	<h6><span class="badge badge-secondary" th:if="${product.published}">Published</span></h6>

				    </div>
				    <div class="card-body">
				        <h5 class="card-title size card-text-animation" th:text="${product.shortDescription}">Main description</h5>
			        	<p class="card-text size card-text-animation" th:text="${product.fullDescription}">Long description with full information</p>
					    
					    <div class="product-buttons">
						    <a th:href="@{/products/{productId}/edit(productId=${product.id})}" class="btn btn-info btn-open">Edit</a>
					        <a th:href="@{/products/{productName}(productName=${product.name})}" class="btn btn-primary btn-open">View</a>
					    </div>
				    </div>
				</div>
			</div>		
		</div>
		
		<div th:if="${#lists.isEmpty(products)}">
			
		</div>
	
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	
</div>

</body>
</html>