<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>FreshVotes dashboard</title>

<script th:replace="fragments/header :: headerElement"></script>

<link rel="stylesheet" th:href="@{css/dashboard.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
	<div class="row header">
		<div class="header-left">
			<div class="dashboard-title">FreshVotes Dashboard</div>
			
			<form class="search" th:action="@{/dashboard}" method="get">
			  <input type="text" placeholder="Search.." th:name="search" class="search-text" th:value="${param.search}">
			  <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
			</form>
		</div>
			
		<div class="row form">
			<form action="" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary create-product">Create a Product</button>		
			</form>
		</div>
	</div>
	
	<div class="jumbotron">
		<div th:if="${products != null}">
		
			<h1>Products</h1>
			
			<div th:each="product : ${products}">
				<div class="card">
				    <div class="card-header">
				    	<h5 th:text="${product.name}"></h5>

				    </div>
				    <div class="card-body">
				        <h5 class="card-title size" th:text="${product.shortDescription}">Main description</h5>
			        	<p class="card-text size" th:text="${product.fullDescription}">Long description with full information</p>
					        
				        <a th:href="@{/products/{productName}(productName=${product.name})}" class="btn btn-primary btn-open">View</a>
				    </div>
				</div>
			</div>		
		</div>
	</div>

</div>

</body>
</html>