<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>FreshVotes dashboard</title>

<script th:replace="fragments/header :: headerElement"></script>

<link rel="stylesheet" th:href="@{css/dashboard.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
	<div class="row header">
		<div class="dashboard-title">FreshVotes Dashboard</div>
		
		<div class="row form">
			<form action="" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type="submit" class="btn btn-primary create-product">Create a Product</button>		
			</form>
		</div>
	</div>
	
	<div class="jumbotron">
		<div th:if="${products != null}">
		
			<h1>Products</h1>
			
			<div th:each="product : ${products}">
				<div class="card">
				    <div class="card-header">
				    	<h5 th:text="${product.name}"></h5>

				    </div>
				    <div class="card-body">
				        <h5 class="card-title size" th:text="${product.shortDescription}">Main description</h5>
			        	<p class="card-text size" th:text="${product.fullDescription}">Long description with full information</p>
					        
				        <a th:href="@{/products/{productId}/edit(productId=${product.id})}" class="btn btn-primary btn-open">Edit</a>
				        <a th:href="@{/products/{productName}(productName=${product.name})}" class="btn btn-primary btn-open">View</a>
				    </div>
				</div>
			</div>		
		</div>
	</div>

</div>

</body>
</html>