<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>FreshVotes dashboard</title>

<script th:replace="fragments/header :: headerElement"></script>

<link rel="stylesheet" th:href="@{css/dashboard.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
	<div class="row">
			<h1>FreshVotes Dashboard</h1>
	</div>
	
	<div class="jumbotron">
		
		<div th:if="${products != null}">
			<h1>Products</h1>
			
			<div th:each="product : ${products}">
				<a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
			</div>
		</div>
	</div>
	
	<div class="row">
		<form action="" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<button type="submit" class="btn btn-primary">Create a Product</button>		
		</form>
	</div>
</div>

</body>
</html>