<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">

<title>FreshVotes Help</title>

<script th:replace="fragments/import :: importElement"></script>
<script th:replace="fragments/header :: headerElement"></script>
<script th:replace="fragments/footer :: footerElement"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/help.css}" />

</head>
<body>

<div class="page">

	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
	
		<div>Help</div>
	    
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>
