
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Fresh Votes Login Page</title>

<script th:replace="fragments/import :: importElement"></script>
<script th:replace="fragments/header :: headerElement"></script>
<script th:replace="fragments/footer :: footerElement"></script>

<link rel="stylesheet" type="text/css" th:href="@{css/login.css}" />

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
	crossorigin="anonymous"></script>

<script type="text/javascript">
	$(function() {
		$("#createAccount").click(function() {
			window.location.href = "/register";
		});
	});
</script>

</head>
<body>
	
<div class="page">
	
	<div th:replace="fragments/header :: header"></div>
		
	<div class="container">
	
		<div class="col-sm-10 col-md-8 col-lg-6 container-inner card">
		
			<div class="card-header">
					Please Login
			</div>
				
			<div class="card-body">
				<form action="" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
					<div th:if="${param.error != null}" class="alert alert-danger">
						Failed to login.
						<div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
							Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
						</div>
					</div>
			
					<div th:if="${param.logout != null}" class="alert alert-success">You have been logged out. </div>
					
					<div th:if="${param.registered != null}" class="alert alert-success">You have created new account. </div>
					
					<div class="form-groups">
						<div class="form-group row">
							<label for="username" class="col-sm-3 col-form-label">Username</label>
							<div class="col-sm-9">
								<input type="text" id="username" name="username" class="form-control"/>
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-sm-3 col-form-label">Password</label> 
							<div class="col-sm-9">
								<input type="password" id="password" name="password" class="form-control"/>
							</div>
						</div>
					</div>
					
					<div>
						<button type="submit" class="btn btn-primary btn-main">Log in</button>
			
						<button type="button" class="btn btn-primary btn-create btn-main" id="createAccount" >Create Account</button>
					</div>
				
				</form>
			</div>
		</div>
		
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>