<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<title th:text="${product.name}">FreshVotes Product</title>

	<script th:replace="fragments/header :: headerElement"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/product.css}" />

</head>
<body>
	
<div th:replace="fragments/header :: header"></div>
	
<div class="container" th:if="${product != null}">	
	<h1 th:text="${product.name}">Product</h1>
	
	<form th:action="@{/products/{productId}/features(productId=${product.id})}" method="post">
	
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />			
		<button type="submit" class="btn btn-primary">Create Feature Request</button>

	</form>
	
	<div th:each="feature : ${product.features}">
		
		<a th:href="@{/products/{productId}/features/{featureId}(productId=${product.id},featureId=${feature.id})}" th:text="${feature.title}"></a>
		
	</div>
	
</div>

</body>
</html>