<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<title th:text="${product.name}">FreshVotes Product</title>

	<script th:replace="fragments/header :: headerElement"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/productView.css}" />

</head>
<body>
	
<div th:replace="fragments/header :: header"></div>
	
<div class="container" th:if="${product != null}">	

	<div class="title">
		<h1 th:text="${product.name}">Product</h1>
		<div class="title-buttons">
			<a th:href="@{/products/{productId}/edit(productId=${product.id})}" th:if="${user != null and user.id == product.user.id}" class="btn btn-primary btn-open">Edit</a>
			<form th:action="@{/products/{productId}/features(productId=${product.id})}" method="post" class="btn-create-form">
				<button type="submit" class="btn btn-primary btn-create">Create Feature Request</button>
			</form>
		</div>
	</div>
	
	
	<div th:each="feature : ${product.features}">
		
		<a th:href="@{/products/{productId}/features/{featureId}(productId=${product.id},featureId=${feature.id})}" th:text="${feature.title}"></a>
		
	</div>
	
</div>

</body>
</html>