<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<meta charset="UTF-8">

<title>FreshVotes Verify Email</title>

<script th:replace="fragments/import :: importElement"></script>
<script th:replace="fragments/header :: headerElement"></script>
<script th:replace="fragments/footer :: footerElement"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/verifyEmail.css}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<div class="page">

	<div th:replace="fragments/header :: header"></div>
	
	<div class="container verify-container">
	
		<div class="card-animation">
			<div class="card">
				<div class="card-header">
					<div class="card-header-title">Request a new verification email</div>
				</div>
				
				<div class="card-body">
					<div class="card-description">
						<p class="card-text-animation">Enter the email you use to sign in to your FreshVotes Account.</p>
						<p class="card-text-animation">We will send an email with a link to verify your email address. Click the link when you receive the email.</p>
					</div>
					<form class="form-email" action="" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrfToken"/>
						<div class="form-group">
							<label for="email" class="form-label">Email</label>
							<input type="text" id="email" name="email" class="form-input" th:required="required"/>
						</div>
						<button type="button" id="submit-form" class="btn btn-primary submit-button">Sumbit</button>
					</form>
				</div>
			</div>
		</div>
	    
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

</div>

<script th:src="@{/javaScript/verifyEmail.js}"></script>

</body>
</html>
